* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 62.5%;
  --font-family: "Roboto", sans-serif;
}

.light {
  --text-color: #323238;
  --bg-color-button-hover: #0a3442;
  --bg-color-button-hover-fill: #fff;
  --bg-color-button: #e1e1e6;
  --bg-page: #ffffff;
}

.dark {
  --text-color: #fff;
  --bg-color-button-hover: #02799d;
  --bg-color-button-hover-fill: #121214;
  --bg-color-button: #29292e;
  --bg-page: #121214;
}

.hidden {
  display: none;
}
