@import url("./global.css");

body {
  background-color: var(--bg-page);
  color: var(--colo-text);

  display: grid;
  min-height: 100vh;
}

main {
  align-self: center;
  justify-self: center;
}

section.container {
  display: flex;
  gap: 2rem;
}
span {
  font-weight: bold;
  font-size: 12.6rem;
  font-family: var(--font-family);
}
