@import url("./global.css");

body {
  background-color: var(--bg-page);
  color: var(--colo-text);

  display: grid;
  min-height: 100vh;

  transition: 1s;
}

main {
  align-self: center;
  justify-self: center;
}
body > .theme {
  position: absolute;
  top: 10px;
  right: 10px;
}

section {
  min-width: 82rem;
  height: 33.6rem;
  display: flex;
  gap: 25rem;
}

button {
  border: none;
  background-color: transparent;
  padding: 1.38rem 1.52rem;
  cursor: pointer;
}
span {
  font-weight: bold;
  font-size: 12.6rem;
  color: var(--text-color);
  font-family: var(--font-family);
}
section div.wrapper {
  margin: 0 auto;
}

section div.wrapper #timer {
  display: flex;
  gap: 2rem;
  opacity: 0.8;
}

section div.wrapper #controllers {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}

section div#cards {
  width: 31rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
}
main #cards > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}
/* input radio */

input[type="range"]::-webkit-slider-thumb,
input[type="”range”"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  background: var(--text-color);
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 9rem;
  height: 7px;
  background: var(--text-color);
  border-radius: 5px;
  background-image: linear-gradient(var(--text-color), var(--text-color));
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

section div#cards button:nth-child(1) {
  background-color: var(--bg-color-button);
  border-radius: 2.4rem;
  padding: 13px 15px;
  transition: all 1s;
}

section div#cards button:nth-child(2) {
  background-color: var(--bg-color-button);
  border-radius: 2.4rem;
  padding: 13px 15px;
  transition: all 1s;
}
section div#cards button:nth-child(3) {
  background-color: var(--bg-color-button);
  border-radius: 2.4rem;
  padding: 13px 15px;
  transition: all 1s;
}
section div#cards button:nth-child(4) {
  background-color: var(--bg-color-button);
  border-radius: 2.4rem;
  padding: 13px 15px;
  transition: background 1s;
}
section div#cards button:hover {
  background: var(--bg-color-button-hover);
}
#cards button > svg path {
  fill: var(--text-color);
}

#cards button:hover > svg path {
  fill: white;
}

input[type="range"]:hover {
  width: 9rem;
  height: 7px;
  background: var(white);
  border-radius: 5px;
  background-image: linear-gradient(white, white);
  background-size: 100%;
}

input[type="range"]::-webkit-slider-thumb:hover,
input[type="”range”"]:hover {
  -webkit-slider-runnable-track: none;
  -webkit-appearance: none;
  height: 1.2rem;
  width: 1.2rem;
  border: 1px solid black;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}
